.main-container {
    background: #F9FBFF;
    border-top: 1px solid #F9FBFF;
}

.empty-line {
    border-bottom: 1px solid rgba(199, 199, 199, 0.527);
    width: 800px;
    height: 60px;
    margin: 0 auto;
}

.main{
width: max-content;
margin: 50px auto 0px auto;
}
    .main .title{
        display: flex;
        padding-left: 30px;
        align-content: flex-start;
    }
        .main .title .main-image{
            width: 500px;
            height: 360px;
            overflow: hidden;
        }
        .main .title .main-image img{
            object-fit: fill;
        }
        .main .title .pic .cliper-btn{
            width: 20px;
            height: 20px;
            font-size: 40px;
            position: absolute;
            z-index: 1;
            cursor: pointer;
            color: rgba(255, 255, 255, 0.5);
        }
        /* .pic .prev-btn{
            top: 180px;
            left: 500px;
        }
        .pic .next-btn {
            top: 280px;
            left: 915px;
        } */
        .main .title .cliper{
            border: 1px solid black;
            width: 500px;
            height: 100px;
            position: relative;
            
        }
        .main .title .cliper ul{
            display: flex;
            height: 100px;
            padding: 0px;
            --position: absolute;
            transform: translateX(0px);
            transition: transform 500ms ease-in-out;
        }
            .main .title .cliper ul li{
                list-style-type: none;
                overflow: hidden;
                flex-basis: 100px;
                flex-shrink: 0;
            }
                .cliper ul li img{
                    object-fit: fill;
                    width :100px;
                    height: 100px;
                }
        .main .title .main-info{
            margin-left: 40px;
        }
        .main .title .main-info h1{
            font-size: 35px;
            font-weight: bold;
            margin: auto 0px;
            padding-bottom: 10px;
        } 
        .main .title .main-info h2{
            font-size: 20px;
            color: gray;
            margin: auto 0px;
            padding-bottom: 5px;
        } 
        .main .title .main-info p{
            font-weight: bold;
            color: #fc0453;
            margin: auto 0px;
            font-size: 16px;
        }
        .main .title .main-info .rule{
            font-size: 15px;
            padding-top: 50px;
            padding-bottom: 30px;
            margin: auto 0px;
        }
        .main .title .main-info .check{
            font-size: 15px;
            padding-bottom: 10px;
            margin: auto 0px;
            padding-top: 10px;
        }

.dateChange{
    margin-top: 10px;
    padding-left: 30px;

}
    .dateChange p{
        font-size: 20px;
        margin: auto 0px;
    }
    .dateChange input{
        padding-left: 40px;
    }


        .room-sec {
            margin: 40px auto 0 auto;
        }
        
        .room-sec .subtitle{
            margin-left: auto;
            margin-right: auto;
            width: 800px;
        }

            .room-sec .subtitle form {
                margin-top: 20px;
                border: 1px solid rgb(204, 204, 204);
                width: 240px;
                padding-left: 10px;
                padding-top: 8px;
                height: 120px;
                border-radius: 5px;
            }

                .room-sec .subtitle form .date {
                    margin-top: 5px;
                }
                
                .submit-btn {
                    width: 150px;
                    height: 30px;
                    margin-top: 10px;
                    margin-left: 30px;
                    border: none;
                    background: #fc0453;
                    color: white;
                    border-radius: 3px;
                    cursor: pointer;
                }

                .submit-btn:hover {
                    opacity: 0.5;
                }
        

            .room-sec .subtitle h1 {
                width: 500px;
                font-weight: bold;
                font-size: 24px;
            }
            .room-sec ul{
                display: flex;
                margin-bottom: 5px;
                font-size: 20px;
                
            }

                .room-sec ul .reserve-date:hover{
                    color:  #fc0453;
                }
                .room-sec ul .reserve-date:onclick{
                    color:  #fc0453;
                }
                .room-sec ul .review:hover{
                    color:  #fc0453;
                }
                .room-sec ul .review:onclick{
                    color:  #fc0453;
                }
            .room-form {
                --border: 1px solid blue;
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
            }

                .room-form > section {
                    display: flex;
                    border: 1px solid rgb(209, 196, 196);
                    border-radius: 5px;
                    margin-top: 20px;
                    width: 800px;
                    margin-left: auto;
                    margin-right: auto;
                }

                    .radio-container {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        --border: 1px solid rgb(0, 132, 255);
                    }
                    
                    .room-form > section > .radio-container > input[type="radio"] {
                        display: none;
                    }

                    .room-form > section > .radio-container > input[type="radio"] + label span {
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        --margin: -2px 10px 0 0;
                        vertical-align: middle;
                        background: url(/images/checkbox-bold.svg) 0 top no-repeat;
                        cursor: pointer;
                        background-size: cover;
                    }

                    .room-form > section > .radio-container > input[type="radio"]:checked + label span {
                        background: url(/images/checkbox-bold.svg) -30px top no-repeat;
                        background-size: cover;
                    }

                    .room-form > div {
                        width: 100px; /* submit 버튼 너비 수정해야함 */
                        margin: 0 auto;
                    }

                    .room-form > section > .radio-container {
                        flex-grow: 1;
                    }

                    .room-form > section > .room-container {
                        flex-grow: 10;
                        display: flex;
                        --border: 1px solid red;
                        margin: 0px 10px 0px 10px;
                    }

                    .room-form .cry-img-section {
                        margin: 20px auto;
                    }

                        .room-form .cry-img-section > div {
                            margin: 10px auto;
                        }

                        .room-form .cry-img-section .cry-img-container {
                            --border: 1px solid red;
                            width: 50px;
                            margin: 0 auto;
                        }

                            .room-form .cry-img {
                                width: 50px;
                            }

                            .room-form .cry-img-section .cry-ment-container {
                                --border: 1px solid blue;
                            }

                            .room-form .cry-ment {
                                text-align: center;
                            }

                        .room-img-container {
                            margin: 10px 0 5px 0;
                            transform: scale(1);
                            transition: transform 0.2s;
                        }

                            .room-img-container img {
                                width: 370px;
                                height: 220px;
                                border: 1px solid rgb(199, 199, 199);
                            }

                        .room-detail-container {
                            width: 100%;
                            margin-left: 10px;
                            position: relative;
                        }

                        .room-detail-container .room-room {
                            font-size: 20px;
                            font-weight: bold;
                            position: absolute;
                            top: 10px;
                        }

                        .room-detail-container .room-bed-count {
                            margin-top: 30px;
                        }

                            .room-detail-container .room-bed-count > div:nth-child(1) {
                                position: absolute;
                                top: 55px;
                            }

                            .room-detail-container .room-bed-count > div:nth-child(2) {
                                flex-grow: 0;
                                margin-right: 10px;
                                position: absolute;
                                top: 55px;
                                right: 10px;
                            }

                        .room-detail-container .room-max-headcount {
                            margin-top: 30px;
                        }

                            .room-detail-container .room-max-headcount > div:nth-child(1) {
                                position: absolute;
                                top: 95px;
                            }

                            .room-detail-container .room-max-headcount > div:nth-child(2) {
                                flex-grow: 0;
                                margin-right: 10px;
                                position: absolute;
                                top: 95px;
                                right: 10px;
                            }

                        .room-detail-container .room-price {
                            margin-top: 30px;
                        }

                            .room-detail-container .room-price > div:nth-child(1) {
                                --flex-basis: 200px;
                                --flex-grow: 1;
                                position: absolute;
                                top: 135px;
                            }

                            .room-detail-container .room-price > div:nth-child(2) {
                                flex-grow: 0;
                                margin-right: 10px;
                                position: absolute;
                                top: 135px;
                                right: 10px;
                            }

                        .room-detail-container .highlight-btn {
                            position: absolute;
                            width: 100%;
                            height: 40px;
                            top: 189px;
                            border: none;
                            border-radius: 5px;
                            background: #fc0453;
                            color: white;
                            --font-weight: bold;
                            opacity: 0.8;
                            cursor: pointer;
                        }
                        
                        .room-detail-container .highlight-btn:hover {
                            opacity: 0.5;
                        }

                        .room-form > .submit-btn-container  {
                            margin: 50px auto 100px auto;
                            width: 100%;
                            text-align: center;
                        }

                        .room-form > .submit-btn-container > .submit-btn {
                            background: #fc0453;
                            border: 1px solid #fc0453;
                            border-radius: 28px;
                            cursor: pointer;
                            color: #ffffff;
                            padding: 16px 60px;
                        }

                        .room-form > .submit-btn-container > .submit-btn:hover {
                            opacity: 0.7;
                        }
                .goodsonmylist-box{
                    width: 1100px;
                    margin-left: auto;
                    margin-right: auto;
                    position: fixed;
                    top: 600px;
                }
                .goodsonmylist-box .goodsonmylist{
                    /* border: 1px solid  #fc0453; */
                    width: 80px;
                    height: 25px;
                    background: white;
                    color : black;
                    margin-left: auto;
                    font-size: 20px;
                    
                }
                .goodsonmylist a:hover{
                    background: white;
                    color:  #fc0453;
                    text-decoration:blink;
                }
                .zzimed{
                	background: white;
                    color:  #fc0453;
                    text-decoration:blink;
                }
                .unzzimed{
                	background: white;
                    color : black;
                }


                
.review-section {
    width: 800px;
    margin: 50px auto 0 auto;
}

    .review-section h1 {
        width: 500px;
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 10px;
    }

    .review-section .review-info {
        border-top: 1px solid rgba(160, 160, 160, 0.521);
        border-bottom: 1px solid rgba(160, 160, 160, 0.521);;
        padding: 10px 0;
        text-align: center;
        
        margin: 0 auto 40px auto;
    }

        .review-section .review-info .review-span {
            font-size: 22px;
            font-weight: bold;
        }

        .review-section .review-info .review-total {
            padding-top: 20px;
            font-size: 14px;
        }

    .review-section .review {
        margin-top: 10px;
        display: flex;
    }

        .review-section .review .review-img {
            width: 50px;
            height: 50px;
        }

        .review-section .review .review-ment-container {
            flex-basis: 500px;
            padding-left: 15px;
            margin-bottom: 20px;
        }

            .review-section .review .review-ment-container .review-title {
                font-weight: bold;
                font-size: 18px;
            }

            .review-section .review .review-ment-container .review-ment {
                margin-top: 10px;
            }

            .review-section .review .review-ment-container .review-regdate {
                margin-top: 5px;
                color: rgb(75, 75, 75);
                font-weight: lighter;
            }

img{
    object-fit :fill;
}