/* --------------------------- */
.container{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    
}
    /* ---------사이드---------- */
    .container .aside{
        width: 200px;
        margin-top: 40px;

    }


    /* ---------메인---------- */
    .container .main{
        width: 638px;
    }
        .main .location ul{
            display: flex;
            justify-content: flex-end;
        }
        /* .container .main .product-list{ */
            
        }
            .container .main .product-list .product{
                position: relative;
            }
                .container .main .product-list .product .pic{
                    position: absolute;
                }
                .container .main .product-list .product .evt-info{
                    position: relative;
                    height: 300px;
                }
                    .container .main .product-list .product .evt-info .name{
                        background: black;
                        opacity: 0.7;
                        color: white;
                        font-weight: bold;
                        font-size: 30px;
                        text-align: center;
                        
                    }
                    .container .main .product-list .product .evt-info .score{
                        color: orange;
                        opacity: 0.9;
                        font-size: 23px;
                        position: absolute;
                        bottom: 52px;
                    }
                    .container .main .product-list .product .evt-info .location{
                        color: white;
                        font-size: 23px;
                        opacity: 0.9;
                        position: absolute;
                        bottom: 25px;
                    }
                    .container .main .product-list .product .evt-info .price{
                        color: white;
                        opacity: 0.9;
                        font-size: 20px;
                        position: absolute;
                        right: 0px;
                        bottom: 0px;
                    }