/********************************************/
.container-sec {
    background: #F9FBFF;
}

    .container {
        width: 1200px;
        min-height: 500px;
        margin:0 auto;
        display: flex;
        padding-top: 30px;
    }

        .aside {
            width: 300px;
            height: 330px;
            margin-top: 70px;
            padding-left: 40px;
        }

            .aside > h1 {
                font-size: 24px;
                font-weight: bold;
                padding: 10px 0 0 20px;
            }

            .aside > ul {
                width: 200px;
                padding: 10px 0 0 40px;
            }

            .aside li {
                height:60px;
                padding-top: 20px;
                padding-bottom: 10px;
                font-size: 20px;
                transform: scale(1);
                transition: transform 0.1s;
                
            }
            .aside li:hover {
                border-bottom:1px solid #fc0453;
                transform: scale(1.03);
                color:#fc0453;
                font-weight: bold;
            }

            .aside .active {
                font-weight: bold;
                color: #fc0453;
            }

                .aside li > a {
                    text-decoration: none;
                }

        .main {
            width: 900px;
            min-height: 500px;
            --border: 1px solid blue;
            padding: 0 40px;
            margin-bottom: 50px;
        }

            .breadcrumb > .breadcrumb-list {
                display: flex;
                justify-content: flex-end;
                font-size: 12px;
            }
            
            .event-sec > h1 {
                width: 500px;
                font-weight: bold;
                font-size: 28px;
                margin: 50px 0 30px 0;
            }

            .event-sec > h2 {
                font-size: 16px;
                font-weight: bold;
            }

                .event-sec > h1 > span {
                    font-size: 24px;
                }

        .main .img-sec .img-container {
            width: 800px;
            margin: 50px auto 0 auto;
        }
        
            .main .img-sec .img-container > img {
                width: 100%;
            }

        .main .page-list-sec {
            --border: 1px solid blue;
            margin: 50px auto 100px auto;
            width: 800px;
        }
        
            .main .page-list-sec .page {
                border-bottom: 1px solid #d6d6d6;
                padding-top: 25px;
                padding-bottom: 25px;
            }
        
            .main .page-list-sec .prev-page {
                border-top: 1px solid #d6d6d6;
                padding-top: 25px;
                padding-bottom: 25px;
            }
        
                .main .page-list-sec .page a {
                    text-decoration: none;
                }
        
                    .main .page-list-sec .page .page-direction {
                        color: #fc0453;
                        padding-left: 30px;
                    }
        
                    .main .page-list-sec .page .page-title {
                        font-weight: bold;
                        padding-left: 100px;
                        display: inline-block;
                        width: 460px;
                    }
        
                    .main .page-list-sec .page .page-date {
                        color: #808080;
                    }
                    
                    
            .main .page-list-sec .btn-container {
                width: 180px;
                margin: 30px auto 0 auto;
            }
            
                .main .page-list-sec .btn-container .btn-list {
                    background-color: #fc0453;
                    border-radius: 3px;
                    border: 1px solid #ff0059;
                    display: inline-block;
                    cursor: pointer;
                    color: #ffffff;
                    padding: 16px 60px;
                    text-decoration: none;
                }