/********************************************/
.container-sec {
    background: #F9FBFF;
}

    .container {
        width: 1200px;
        min-height: 500px;
        margin:0 auto;
        display: flex;
        padding-top: 30px;
    }

        .aside {
            width: 300px;
            height: 330px;
            margin-top: 70px;
            padding-left: 40px;
        }

            .aside > h1 {
                font-size: 24px;
                font-weight: bold;
                padding: 10px 0 0 20px;
            }

            .aside > ul {
                width: 200px;
                padding: 10px 0 0 40px;
            }

            .aside li {
                height:60px;
                padding-top: 20px;
                padding-bottom: 10px;
                font-size: 20px;
                transform: scale(1);
                transition: transform 0.1s;
                
            }
            .aside li:hover {
                border-bottom:1px solid #fc0453;
                transform: scale(1.03);
                color:#fc0453;
                font-weight: bold;
            }

            .aside .active {
                font-weight: bold;
                color: #fc0453;
            }

                .aside li > a {
                    text-decoration: none;
                }

        .main {
            width: 900px;
            min-height: 500px;
            --border: 1px solid blue;
            padding: 0 40px;
            margin-bottom: 50px;
        }

            .breadcrumb > .breadcrumb-list {
                display: flex;
                justify-content: flex-end;
                font-size: 12px;
            }

            .reservation-detail-sec {
                margin-top: 50px;
            }

                .reservation-detail-sec h1 {
                    font-size: 28px;
                    font-weight: bold;
                    border-bottom: 3px solid black;
                }

                .reservation-detail-sec h2 {
                    font-size: 24px;
                    font-weight: bold;
                    margin-top: 20px;
                }

                    .reservation-detail-sec h2 span{
                        font-size: 16px;
                        font-weight: lighter;
                        margin-left: 10px;
                        background: #fc0453;
                        color: white;
                        padding: 2px;
                    }

                    .reservation-detail {
                        font-size: 18px;
                        margin-top: 10px;
                    }

                        .reservation-detail .room {
                            display: flex;
                            width: 400px;
                        }

                        .reservation-detail .checkin {
                            display: flex;
                            width: 400px;
                            margin-top: 30px;
                        }

                        .reservation-detail .checkout {
                            display: flex;
                            width: 400px;
                            margin-top: 10px;
                        }
                        
                        .reservation-detail .name{
                        	display: flex;
                            width: 400px;
                            margin-top: 30px;
                        }

                        .reservation-detail .phone {
                            display: flex;
                            width: 400px;
                            margin-top: 10px;
                        }

                        .reservation-detail .price {
                            display: flex;
                            width: 400px;
                            margin-top: 20px;
                        }

                            .reservation-detail .price .highlight {
                                font-weight: bold;
                                color: #fc0453;
                            }

                            .reservation-detail .left {
                                flex-basis: 150px;
                            }

                            .reservation-detail .right {
                                flex-grow: 1;
                            }

                        .reservation-detail .empty-line {
                            padding: 10px 0;
                            border-bottom: 1px solid rgba(185, 185, 185, 0.692);
                            width: 400px;
                        }