
.d-none{
    display: none;
}

/********************************************/
.container-sec {
    --background: #F9FBFF;
}
.container {
    width: 1200px;
    min-height: 500px;
    margin: 0 auto;
    display: flex;
    padding-top: 30px;
}

     .aside {
            width: 300px;
            height: 330px;
            margin-top: 70px;
            padding-left: 40px;
        }

            .aside > h1 {
                font-size: 24px;
                font-weight: bold;
                padding: 10px 0 0 20px;
            }

            .aside > ul {
                width: 200px;
                padding: 10px 0 0 40px;
            }

            .aside li {
                height:60px;
                padding-top: 20px;
                padding-bottom: 10px;
                font-size: 20px;
                transform: scale(1);
                transition: transform 0.1s;
                
            }
            .aside li:hover {
                border-bottom:1px solid #fc0453;
                transform: scale(1.03);
                color:#fc0453;
                font-weight: bold;
            }

            .aside .active {
                font-weight: bold;
                color: #fc0453;
            }

                .aside li > a {
                    text-decoration: none;
                }

    .main {
        width: 900px;
        min-height: 1000px;
    }
        .breadcrumb > .breadcrumb-list {
                display: flex;
                justify-content: flex-end;
                font-size: 12px;
            }
        
        .notice-sec>h1 {
       		width: 100%;
            font-weight: bold;
            font-size: 28px;
            margin: 30px 0 30px 0;
            border-bottom:4px solid #000000;
            padding-bottom:30px;
            
        }
        .notice-sec>h1 span{
         font-size: 20px;
         font-weight: normal;
        }
            .notice-sec-list{
                min-height: 300px; 
                --display: flex;
                --flex-flow: column wrap;
                --align-items: center;                
                --justify-content: space-between;
                margin-top: 40px;
            }
                .notice-sec-list li{
                    width: 900px;
                    --flex: 0 0 100px;
                    display: inline-block;
                    border-bottom: 1px solid #979797;
                    --border-radius: 10px;
                    position: relative;
                    background:white;
                    margin-bottom:10px;
                }
    
                    .notice-sec-list li>div{
                        width: 400px;
                        padding:25px 0 20px 20px;
                        display: inline-block;
                        
                    }
                    .notice-sec-list li>p{
                        display: inline-block;
                        position: absolute;
                        top: 28px;
                        right: 50px;
                    }
	                    .notice-sec-list li>div .p-detail{
	                    	width:850px;
	                    	background:#fafafa;
	                    	padding:10px;
	                    	margin-top:20px;
	                    	display: none;
	                    	border-top: 0.5px solid #979797;
	                    	
	                    }
                        .notice-sec-list li>div p:nth-child(1){
                        	width:850px;
                            --border-bottom: 0.5px solid #979797;
                            padding-bottom:20px;
                            font-size:20px;
                        }
                        .notice-sec-list li>div p:nth-child(3){
                            padding-top:20px;
                            font-size:15px;
                        }
                       
/********************************************/

.notice-sec-list >li> input[type="checkbox"] {
    display: none;
}

.notice-sec-list>li> label span{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 26px;
    right: 15px;
    background: url(../../images/checkbox-bold.svg) 0px top no-repeat;
    cursor: pointer;
    background-size: cover;
}

.notice-sec-list >li> input[type="checkbox"]:checked~label span{
    background: url(../../images/checkbox-bold.svg) -30px top no-repeat;
    background-size: cover;
    
}
.notice-sec-list >li>input[type="checkbox"]:checked+div>.p-detail {
  display: block;
}
