* {
    box-sizing: border-box;
}
.d-none{
    display: none;
}
.sec_header .header .header_h1{
    flex-basis: 50px;
    height:70%;
    background: url("../../틈로고.png") 0 0 no-repeat;
    text-indent: -9999px;
    background-size: 50px auto;
}

/********************************************/

.container {
    width: 1200px;
    min-height: 100px;
    --background: orange;
    margin: 0 auto;
    display: flex;
}

    .aside {
        background: palegreen;
        width: 300px;
    }

    .main {
        width: 900px;
        min-height: 500px;
    }
        .breadcrumb {
            width: 100%;
        }
            .breadcrumb>ul{
                display: flex;
                justify-content: flex-end;
            }
        .notice-sec {
            height: 500px;
            
        }
            .notice-sec-list{
                min-height: 300px; /* 컨텐츠 크기에 따른 높이 변화 */
                display: flex;
                flex-flow: column wrap;
                align-items: center;                
                justify-content: space-between;
                margin-top: 50px;
            }
                .notice-sec-list li{
                    width: 600px;
                    flex: 0 0 100px;
                    display: inline-block;
                    border: 1px solid #979797;
                    border-radius: 20px;
                    position: relative;
                }
    
                    .notice-sec-list li>div{
                        width: 400px;
                        padding:25px 0 20px 20px;
                        display: inline-block;
                    }
                    .notice-sec-list li>p{
                        display: inline-block;
                        position: absolute;
                        top: 34px;
                        right: 50px;
                    }
                        .notice-sec-list li>div p:nth-child(1){
                            border-bottom: 0.5px solid #979797
                        }
                       
/********************************************/

.notice-sec-list >li> input[type="checkbox"] {
    display: none;
}

.notice-sec-list>li> label span{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 32px;
    right: 15px;
    background: url(../../images/checkbox-bold.svg) 0px top no-repeat;
    cursor: pointer;
    background-size: cover;
}

.notice-sec-list >li> input[type="checkbox"]:checked~label span{
    background: url(../../images/checkbox-bold.svg) -30px top no-repeat;
    background-size: cover;
    
}
.notice-sec-list >li>input[type="checkbox"]:checked+div>.d-none {
   display: block;
    
}
