* {
    box-sizing: border-box;
}

/********************************************/
.header {
    min-height: 100px;
    background: wheat;
}

/********************************************/
.body {
    display: flex;
}

.body > .aside {
    border: 1px solid #e4e3e3;
    width: 18%;
    height: 1000px;
}

    .aside > h1 {
        font-size: 24px;
        font-weight: bold;
        padding: 30px 0 0 20px;
    }

        .aside > ul {
            width: 25   0px;
            padding: 10px 0 0 40px;
        }

            .aside > ul li {
                padding-top: 10px;
                font-size: 20px;
            }

            .aside > ul li .active {
                font-weight: bold;
                color: #fc0453;
            }

            .aside > ul li a {
                text-decoration: none;
            }

.body > .container {
    flex-grow: 1;
}

    .container > .nav {
        background: #F5F5F5;
        border-bottom: 1px solid #e4e3e3;
    }

        .container > .nav > ul {
            display: flex;
            padding: 10px;
            justify-content: space-around;
        }

            .container > .nav > ul > li {
                border: 1px solid rgb(207, 204, 204);
                border-radius: 3px;
                flex-basis: 350px; /* 화면이 작으면 경계선이 붙어보임 */
                height: 70px;
                line-height: 70px;
                text-align: center;
                margin-left: 10px;
            }

            .container > .nav > ul > li:first-child {
                margin-left: 0;
            }

                .container > .nav > ul > li > a {
                    display: block;
                    text-decoration: none;
                    font-size: 24px;
                }

                .container > .nav > ul > li > a:hover {
                    color:  rgb(207, 204, 204);
                }

                .container > .nav > ul > .current-tab {
                    background: #d6d6d6;
                }

                .container > .nav > ul > .current-tab > a:hover {
                    color: black;
                }

                    .container > .nav > ul > li > a span {
                        text-decoration: none;
                        margin-left: 10px;
                        font-size: 24px;
                    }
        
    .container > .main {
        --background: darkorange;
    }

        .sub-container {
            width: 82%;
            --background: cornflowerblue;
            margin: 0 auto;
        }

            .sub-container .breadcrumb > .breadcrumb-list {
                display: flex;
                justify-content: flex-end;
                margin-right: 30px;
                margin-top: 30px;
                font-size: 14px;
            }

            .sub-container h1 {
                font-size: 20px;
                margin: 30px 0 0 30px;
            }

            .sub-container .form-sec {
                --background: burlywood;
                width: 830px; /* form의 margin-left(30) + form의 width(800) */
            }

                .sub-container .reg-form > table {
                    border-top: 2px solid #5F0080;
                    --border-collapse: collapse;
                    --border-spacing: 5px 10px;
                    width: 800px;
                    table-layout: fixed;
                    font-size: 14px;
                    margin: 10px 0 0 30px;
                }

                    .sub-container .reg-form > table tr {
                        height: 40px;
                        line-height: 40px;
                    }

                        .sub-container .reg-form > table th {
                            border-bottom: 1px solid #d6d6d6;
                            border-left: 1px solid #d6d6d6;
                            background: #f5f5f5;
                            text-align: center;
                        }

                        .sub-container .reg-form > table td {
                            border-bottom: 1px solid #d6d6d6;
                            border-left: 1px solid #d6d6d6;
                            border-right: 1px solid #d6d6d6;
                            padding-left: 10px;
                        }

                        .sub-container .reg-form > table th.col-m { 
                            width: 50px;
                        }

                        .sub-container .reg-form > table td.col-l { 
                            width: 130px;
                        }

                        .sub-container .reg-form > table td.text-left {
                            text-align: left;
                        }

                        .sub-container .reg-form > table td > .input-title {
                            width: 350px;
                            height: 25px;
                        }

                            .sub-container .reg-form > table td > .checkbox-open {
                                margin-left: 10px;
                            }

                            .sub-container .reg-form > table td > .checkbox-open + span {
                                margin-left: 10px;
                            }

                            .sub-container .reg-form > table td > .textarea {
                                margin-top: 10px;
                            }

                        .sub-container .reg-form > div {
                            width: 800pxpx;
                            margin: 10px 0 0 30px;
                            text-align: center;
                        }

                        .sub-container .reg-form > div .btn-submit,
                        .sub-container .reg-form > div .btn-cancel {
                            width: 80px;
                            height: 25px;
                            margin: 0 5px 0 5px;
                            cursor: pointer;
                        }

