.main{
    margin-left: auto;
    margin-right: auto;
}
    .main>h1{
        font-family: ;
        font-size: ;
        font-weight: bold;
        color : #5F0080 ;

    }

    .main .goldentime-list h1{
        font-family: ;
        font-size: ;
        font-weight: bold;
        color : #5F0080 ;
    }