main{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}  
    main>content-box{

    }
    main h1{
        font-weight: bold;
        font-size: 20px;
        color: #5F0080;
    }
    main .add-room{
        display: inline-block;
        border: 2px solid black;
        position: relative;
    }
    main .addButton{
        position: absolute;
        right:0px;
        bottom: 0px;
    }
    main .regButton{

    }