
main{
    padding-top: 10px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}  
    main .content-box{
        margin-left: auto;
        margin-right: auto;
    }
    .content-box h1{
        font-weight: bold;
        font-size: 40px;
        color: #5F0080;
        text-align: center;
        padding-bottom: 10px;
    }
        .content-box div{
            padding-bottom: 5px;
        }
        .content-box .text-box{
            height: 30px;
            width: 250px;

        }
        .content-box select{
            width: 130px;
            padding-left: 40px;
        }
        .content-box select{
            height: 30px;
        }

    .add-room{
        display: inline-block;
        border: 0.5px solid #fc0453;
        margin: 5px;
        padding : 10px;
    }
    .submit-btn{
        background-color: #5f0081;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        color: #ffffff;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 14px;
        height: 50px;
        width: 90px;
    }
    .submit-btn:hover{
        background-color: #5f0081;
        opacity: 0.8;
    }

