
main{
    /* width: 500px;
margin: 10px auto 0px auto; */
}  
    main .content-box{
        width: 500px;
        margin: 10px auto 0px auto;
    }

        .content-box div{
            padding-bottom: 5px;
            /* margin-left: 50px; */
            padding-left: 50px;
            color: #5f0081;
        }
        .content-box .text-box{
            height: 30px;
            width: 250px;

        }
        .content-box select{
            width: 130px;
            padding-left: 40px;
        }
        .content-box select{
            height: 30px;
        }
        .button{
            width: px;
            border:1px dashed #ff0080;
            border-radius: 5px;
            background: #ffe6f2;
            padding:5px 10px;
            vertical-align: middle;
            cursor: pointer;
            color: #ff0080;
            font-weight: bold;
        }
        .button:hover{
            background-color: #ff0080;
            opacity: 0.8;
            color: white;
        }
    .add-room{
        display: inline-block;
        border: 0.5px solid #fc0453;
        margin-top: 20px;
        padding: 10px 30px 10px 0px;
        margin-bottom: 10px;
    }
        .add-room div{
            padding-left: -40px;
        }
    .submit-btn{
        background-color: #5f0081;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        color: #ffffff;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 14px;
        height: 50px;
        width: 200px;
        
    }
    .submit-btn:hover{
        background-color: #5f0081;
        opacity: 0.8;
    }

