* {
    box-sizing: border-box;
}
.d-none{
    display: none;
}
body{
    background: #ffffff;
}
.sec_header .header .header_h1{
    flex-basis: 50px;
    height:70%;
    background: url("../틈로고.png") 0 0 no-repeat;
    text-indent: -9999px;
    background-size: 50px auto;
}

/*-----------------------------------------*/
.body {
    display: flex;
}
 .body> .aside {
    border: 1px solid #e4e3e3;
    width: 300px;
    height: 1000px;
}

    .aside > h1 {
        font-size: 24px;
        font-weight: bold;
        padding: 30px 0 0 20px;
    }

        .aside > ul {
            width: 250px;
            padding: 10px 0 0 40px;
        }

            .aside > ul li {
                padding-top: 10px;
                font-size: 20px;
            }

            .aside > ul li .active {
                font-weight: bold;
                color: #fc0453;
            }

            .aside > ul li a {
                text-decoration: none;
            }
      
/**********************************/
.body > .container {
    flex-grow: 1;
}
    .container > .nav {
        background: #F5F5F5;
        border-bottom: 1px solid #e4e3e3;
    }

        .container > .nav > ul {
            display: flex;
            padding: 10px;
            justify-content: space-around;
        }

            .container > .nav > ul > li {
                border: 1px solid rgb(207, 204, 204);
                border-radius: 3px;
                flex-basis: 350px; /* 화면이 작으면 경계선이 붙어보임 */
                height: 70px;
                line-height: 70px;
                text-align: center;
                margin-left: 10px;
            }

            .container > .nav > ul > li:first-child {
                margin-left: 0;
            }

                .container > .nav > ul > li > a {
                    display: block;
                    text-decoration: none;
                    font-size: 24px;
                }

                .container > .nav > ul > li > a:hover {
                    color:  rgb(207, 204, 204);
                }

                .container > .nav > ul > .current-tab {
                      background: #e9e9e9;
                }

                .container > .nav > ul > .current-tab > a:hover {
                    color: black;
                }

                    .container > .nav > ul > li > a span {
                        text-decoration: none;
                        margin-left: 10px;
                        font-size: 20px;
                    }
/*********************************/