/*---------------------------------------------------------*/
.sec-promotion-page{
    min-height: 600px;
}

.promotion-sec{
    height: 600px;
    background-color: #F9FBFF;
    --border: 1px solid red;
}
    .promotion-bar{
        height: 600px;
        width: 1200px;
        margin: 0 auto;
    }
        .promotion-bar .btn-left,
        .promotion-bar .btn-right{
            align-items: center;
            cursor: pointer;
        }

        .promotion-bar>div:first-child{
            padding-top: 30px;
            text-indent: 100px;
        }
        .promotion-bar>div:nth-child(2){
            display: flex;
            height: 500px;
            justify-content: space-evenly;
        }
            .promotion-bar>div:nth-child(2)>div{
                height: 100%;
                display: flex;
                margin: 5px;
            }

        .promotion-item-container{
            justify-content: space-evenly;
            transition: transform 1s;
        }
        .promotion-sec .promotion-item{
            align-items: center;
            background-color: #ffffff;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 3px;
            width: 300px;
            margin: 0 3px;
            display: flex;
            flex-direction: column;
        }
            .promotion-sec .promotion-item .parent {
                position: relative;
                width:300px;
                height:355px;
            }

                .promotion-sec .promotion-item .parent .child {
                    position: absolute;
                    background: black;
                    opacity: 0.5;
                    top: 10px;
                    color: white;
                    width: 100px;
                    height: 30px;
                    font-size: 14px;
                }

            .promotion-sec .promotion-item img{
                padding-top: 10px;
                width: 300px;
                height: 350px;
            }
            .promotion-sec .promotion-item>div:nth-child(2),
            .promotion-sec .promotion-item>div:nth-child(3){
                align-self: start;
            }
            .promotion-sec .promotion-item .promotion-item-detail>h2{
                font-size: 16px;
                font-weight: bold;
            }
          
            .promotion-sec .promotion-item .promotion-item-detail>h3{
                font-size: 14px;
                color: red;
                font-weight: bold;
                padding-top: 5px;
            }
            .promotion-sec .promotion-item .promotion-item-detail>h4{
                font-size: 14px;
                padding: 5px 0;
                width: 290px;
                border-bottom: 1.5px solid rgb(160, 160, 160);
            }
            .promotion-sec .promotion-item .promotion-item-thumb>h2{
              
              padding-top : 5px;
            }
            .promotion-bar>div:nth-child(2)>div:first-child{
                margin-left: 60px;
            }
            .promotion-bar>div:nth-child(2)>div:last-child{
                margin-right: 60px;
            }

.category-bar{
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .category-bar>ul{
        display: flex;
        justify-content: center;
    }
    .category-bar .category-img{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 30px;
        align-items: center;
        text-decoration: none;
        transition: transform 0.5s ease;
    }
        .category-bar .category-img:hover{
            color: lightcoral;
            transform: scale(1.2);
        }
        
    .category-bar>ul>li>a>img{
        width: 80px;
        margin-bottom: 20px;
    }
/*-------------offer------------*/
.sec-offer-page{
display: flex;
justify-content: center;
height: 972px;
}
    .offer-katalk{
        width: 600px;
        padding-top: 72px;
    }
        .offer-katalk img{
            width: 600px;
            height: 900px;
            
        }
        .offer-box{
            width: 550px;
            height: 900px;
            display: flex;
                flex-wrap: wrap;
                align-content:flex-start ;
                justify-content: center;
                padding-top: 72px;
        }
            .offer-ment{
                height: 300px;
                margin-top: 200px;
                display: flex;
                flex-wrap: wrap;
                align-content:flex-start ;
                justify-content: center;
                
            }
                .offer-ment .ment{
                    font-size: 50px;
                    font-weight: bold;
                }
                    .offer-ment .teum{
                        color: #5f0081;
                    }
            .offer-button{
                margin-left: auto;
                margin-right: auto;
                border: 1px solid green;
                width: 350px;
                height: 97px;
            }
            .btn-container .btn-list {
                background-color: #5f0081;
                border-radius: 10px;
                border: none;
                display: inline-block;
                cursor: pointer;
                color: #ffffff;
                padding: 16px 60px;
                text-decoration: none;
                font-size: 30px;
            }
            .btn-container .btn-list:hover {
                opacity: 0.7;
            }


/*-------------event------------*/
.sec-event-page {
    background: #F9FBFF;
}

    .event-sec {
        width: 1200px;
        height: 972px;
        margin: 0 auto;
    }

        .event-sec > .event-container {
            width: 900px;
            height: 500px;
            --border: 1px solid red;
            margin: 0 auto;
            padding-top: 120px;
            position: relative;
        }

            .event-sec > .event-container h1 {
                font-size: 24px;
                font-weight: bold;
            }

            .event-sec > .event-container .cliper-btn {
                width: 20px;
                height: 20px;
                font-size: 40px;
                position: absolute;
                z-index: 1;
                cursor: pointer;
                color: rgba(255, 255, 255, 0.5);
            }

            .event-sec > .event-container .prev-btn {
                top: 235px;
                left: 20px;
            }

            .event-sec > .event-container .next-btn {
                top: 235px;
                left: 855px;
            }

            .event-sec > .event-container .event-list-container {
                margin-top: 20px;
                overflow: hidden;
            }

                .event-sec > .event-container .event-list-container .event-list {
                    display: flex;
                    transition: transform 1s;
                }

                    .event-sec > .event-container .event-list-container .event-list li {
                        flex-basis: 900px;
                    }

                    .event-sec > .event-container .event-list-container .event-list li.current {
                        
                    }

                        .event-sec > .event-container .event-list-container .event-list img {
                            width: 900px;
                        }

            .event-sec > .event-container .etc-container {
                display: flex;
                justify-content: space-between;
                margin-top: 30px;
            }

                .event-sec > .etc-container .etc-img-container {
                    
                }

                    .event-sec .etc-container > .etc-img-container img {
                        width: 440px;
                        height: 180px;
                        border: 1px solid rgb(223, 223, 223);
                    }

        .event-sec > .weather-container {
            width: 900px;
            height: 200px;
            --border: 1px solid red;
            margin: 0 auto;
        }

            .event-sec > .weather-container h1 {
                font-size: 24px;
                font-weight: bold;
            }

            .event-sec > .weather-container .weather-list-container {
                width: 900px;
                height: 200px;
                --border: 1px solid gray;
                margin-top: 70px;
            }

                .event-sec > .weather-container .weather-list-container img {
                    border: 1px solid rgb(223, 223, 223);
                }