
/********************************************/
.container-sec {
    background: #F9FBFF;
}

    .container {
        width: 1200px;
        min-height: 500px;
        margin:0 auto;
        display: flex;
    }

        .main {
            width: 900px;
            min-height: 500px;
            --border: 1px solid blue;
            padding: 0 40px;
            margin: 0 auto;
        }
            .main>h1{
                text-align: center;
                font-size: 40px;
                font-weight: bold;
                color: #5f0081;
            }
            .main>img{
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }

            /* .breadcrumb > .breadcrumb-list {
                display: flex;
                justify-content: flex-end;
                font-size: 12px;
            } */
            .reg-form-sec{
                min-height: 300px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
            }
                .reg-form-sec>.reg-form-bg{
                    height: 500px;
                    width: 820px;
                    background-color: #5f0081;
                    opacity: 0.16;
                    position: absolute;
                }
                .reg-form-sec .reg-form-container>.reg-form-item .caution-mention{
                    color: red;
                    font-size: 12px;
                }
            