
/********************************************/
.container-sec {
    background: #F9FBFF;
}

    .container {
        width: 1200px;
        min-height: 500px;
        margin:0 auto;
        display: flex;
        padding-top: 30px;
    }

        .aside {
            width: 300px;
            height: 330px;
            margin-top: 70px;
            padding-left: 40px;
        }

            .aside > h1 {
                font-size: 24px;
                font-weight: bold;
                padding: 10px 0 0 20px;
            }

            .aside > ul {
                width: 200px;
                padding: 10px 0 0 40px;
            }

            .aside li {
                height:60px;
                padding-top: 20px;
                padding-bottom: 10px;
                font-size: 20px;
                transform: scale(1);
                transition: transform 0.1s;
                
            }
            .aside li:hover {
                border-bottom:1px solid #fc0453;
                transform: scale(1.03);
                color:#fc0453;
                font-weight: bold;
            }

            .aside .active {
                font-weight: bold;
                color: #fc0453;
            }

                .aside li > a {
                    text-decoration: none;
                }

        .main {
            width: 900px;
            min-height: 500px;
            --border: 1px solid blue;
            padding: 0 40px;
            margin-bottom: 50px;
        }

            .breadcrumb > .breadcrumb-list {
                display: flex;
                justify-content: flex-end;
                font-size: 12px;
            }
/* ㅈㅔ안 리스트  */
            .main{
                width: 900px;
                margin: 0 auto;
            }
                .main .btn-left,
                .main .btn-right{
                    align-items: center;
                }
            
                .main>div:first-child{
                    padding-top: 30px;
                    --text-indent: 100px;
                }
                .main>div:nth-child(2){
                    display: flex;
                    padding-top: 20px;
                    justify-content: space-evenly;
                }
                    .main>div:nth-child(2)>div{
                        height: 100%;
                        display: flex;
                        margin: 5px;
                    }
            
                .proposal-item-container{
                    justify-content: space-evenly;
                    transition: transform 1s;
                }
                    
                    .main>div:nth-child(2)>div:first-child{
                        margin-left: 0px;
                    }
                    .main>div:nth-child(2)>div:last-child{
                        margin-right: 0px;
                    }
            
            
                    .proposal-info {
                        border: 1px solid purple;
                        width: 330px;
                        margin: 0px 10px;
                    }
                    .picked{
                        background: rgb(203, 185, 221);
                    }
            
                    .proposal-info:hover {
                        background: rgb(203, 185, 221);
                        cursor: pointer;
                    }
            
                    .proposal-info> h2 {
                            padding-left: 10px;
                            font-weight: bold;
                        }
            
                        .proposal-info> ul > li {
                                display: flex;
                                --flex-grow: 1;
                                padding-left: 10px;
                                margin-top: 5px;
                            }
            
                            .proposal-info> ul > li > div{
                                    --border: 1px solid red;
                                    flex-basis: 120px;
                                    flex-grow: 1;
                                }
            
                                .proposal-info> ul > li > div:nth-child(2){
                                    --border: 1px solid red;
                                    flex-basis: 250px;
                                    flex-grow: 3;
                                }
            
                                .proposal-info> ul > li > .wanted-price {
                                    font-weight: bold;
                                    color: #FC0453;
                                }

/* -------------------------------------------------------------------------- */

            .offer-sec {
                --border: 1px solid red;
                margin: 40px auto 0 auto;
            }

                .offer-sec > .offer-form> h1 {
                    --border: 1px solid green;
                    width: 500px;
                    font-weight: bold;
                    font-size: 24px;
                    --margin-left: 30px;
                }

                .offer-form {
                    --border: 1px solid blue;
                    margin: 20px 0px 0 30px;
                }

                    .offer-form > section {
                        display: flex;
                        border: 1px solid rgb(209, 196, 196);
                        border-radius: 5px;
                        margin-top: 20px;
                    }

                        .checkbox-container {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            --border: 1px solid rgb(0, 132, 255);
                        }
                        
                        .offer-form > section > .checkbox-container > input[type="checkbox"] {
                            display: none;
                        }

                        .offer-form > section > .checkbox-container > input[type="checkbox"] + label span {
                            display: inline-block;
                            width: 30px;
                            height: 30px;
                            --margin: -2px 10px 0 0;
                            vertical-align: middle;
                            background: url(/images/checkbox-bold.svg) left top no-repeat;
                            cursor: pointer;
                            background-size: cover;
                        }

                        .offer-form > section > .checkbox-container > input[type="checkbox"]:checked + label span {
                            background: url(/images/checkbox-bold.svg) -33px top no-repeat;
                            background-size: cover;
                        }

                        .offer-form > div {
                            width: 100px; /* submit 버튼 너비 수정해야함 */
                            margin: 0 auto;
                        }

                        .offer-form > section > .checkbox-container {
                            flex-grow: 1;
                        }

                        .offer-form > section > .offer-container {
                            flex-grow: 10;
                            display: flex;
                            margin-left: 20px;
                            --border: 1px solid red;
                        }

                            .offer-img-container {
                                margin: 10px 0 5px -10px;
                                transform: scale(1);
                                transition: transform 0.2s;
                            }

                            .offer-img-container:hover {
                                transform: scale(1.02);
                            }

                                .offer-img-container img {
                                    width: 370px;
                                    height: 220px;
                                }

                            .offer-detail-container {
                                width: 100%;
                                margin-left: 10px;
                                position: relative;
                            }

                            .offer-detail-container .offer-room {
                                font-size: 20px;
                                font-weight: bold;
                                position: absolute;
                                top: 10px;
                            }

                            .offer-detail-container .offer-bed-count {
                                margin-top: 30px;
                            }

                                .offer-detail-container .offer-bed-count > div:nth-child(1) {
                                    position: absolute;
                                    top: 55px;
                                }

                                .offer-detail-container .offer-bed-count > div:nth-child(2) {
                                    flex-grow: 0;
                                    margin-right: 10px;
                                    position: absolute;
                                    top: 55px;
                                    right: 10px;
                                }

                            .offer-detail-container .offer-max-headcount {
                                margin-top: 30px;
                            }

                                .offer-detail-container .offer-max-headcount > div:nth-child(1) {
                                    position: absolute;
                                    top: 95px;
                                }

                                .offer-detail-container .offer-max-headcount > div:nth-child(2) {
                                    flex-grow: 0;
                                    margin-right: 10px;
                                    position: absolute;
                                    top: 95px;
                                    right: 10px;
                                }

                            .offer-detail-container .offer-price {
                                margin-top: 30px;
                            }

                                .offer-detail-container .offer-price > div:nth-child(1) {
                                    --flex-basis: 200px;
                                    --flex-grow: 1;
                                    position: absolute;
                                    top: 135px;
                                }

                                .offer-detail-container .offer-price > div:nth-child(2) {
                                    flex-grow: 0;
                                    margin-right: 10px;
                                    position: absolute;
                                    top: 135px;
                                    right: 10px;
                                    text-decoration:line-through;
                                    color:gray;
                                }
                                .offer-detail-container .offer-price > div:nth-child(3) {
                                    flex-grow: 0;
                                    margin-right: 10px;
                                    position: absolute;
                                    top: 155px;
                                    right: 10px;
                                    color:#fc0453;
                                    font-weight:bold;
                                }

                            .offer-detail-container .submit-btn {
                                position: absolute;
                                width: 400px;
                                height: 40px;
                                top: 189px;
                                border: none;
                                border-radius: 5px;
                                background: #fc0453;
                                color: white;
                                --font-weight: bold;
                            }
                            
                            .offer-form  .submit-btn-container > .submit-btn {
                                width: 378px;
                                background-color: #fc0453;
                                border: 1px solid #fc0453;
                                --border-radius: 28px;
                                cursor: pointer;
                                color: #ffffff;
                                position: absolute;
                                bottom: 20px;
                            }

                            .offer-form .submit-btn-container > .submit-btn:hover {
                                opacity: 0.7;
                            }
                            



/********************************************/
.btn-more-sec{
	display:flex;
	justify-content:center;
}
.btn-more{
    margin: 20px 0 0 30px;
    padding:0;
    text-align : center;
    width:790px;
    height:50px;
    line-height:50px;
    font-size:24px;
    opacity:0.5;
    cursor:pointer;
}

/***** 제안 아무것도 없을때 처리*******/
.nothing{
	display:flex;
	flex-direction:column;
}
.nothing>h1{
	font-size:30px;
	margin-bottom:50px;
}
.nothing>button{
	width: 100%;
    color: white;
    font-size: 16px;
    background-color: #5f0081;
    border: 1px solid #5f0081;
    border-radius: 15px;
    cursor: pointer;
    padding: 10px 0;
    opacity:0.5;
}
.nothing>button:hover{
	opacity:1;
}