
/********************************************/
.container-sec {
    background: #F9FBFF;
}

    .container {
        width: 1200px;
        min-height: 500px;
        margin:0 auto;
        display: flex;
        padding-top: 30px;
    }

        .aside {
            width: 300px;
            height: 330px;
            margin-top: 70px;
            padding-left: 40px;
        }

            .aside > h1 {
                font-size: 24px;
                font-weight: bold;
                padding: 10px 0 0 20px;
            }

            .aside > ul {
                width: 200px;
                padding: 10px 0 0 40px;
            }

            .aside li {
                height:60px;
                padding-top: 20px;
                padding-bottom: 10px;
                font-size: 20px;
                transform: scale(1);
                transition: transform 0.1s;
                
            }
            .aside li:hover {
                border-bottom:1px solid #fc0453;
                transform: scale(1.03);
                color:#fc0453;
                font-weight: bold;
            }

            .aside .active {
                font-weight: bold;
                color: #fc0453;
            }

                .aside li > a {
                    text-decoration: none;
                }

        .main {
            width: 900px;
            min-height: 500px;
            --border: 1px solid blue;
            padding: 0 40px;
            margin-bottom: 50px;
        }

            .breadcrumb > .breadcrumb-list {
                display: flex;
                justify-content: flex-end;
                font-size: 12px;
            }

            .update-info-sec>h1{
                width: 500px;
                font-weight: bold;
                font-size: 28px;
                margin: 50px 0 30px 0;
            }
                .update-info-sec>div{
                    padding: 50px 100px;
                }
                    .update-info-sec>div>form{
                        margin:0 auto;

                    }
                    .update-info-sec table>td{
                        margin-top: 100px;
                    }
                    .update-info-sec .button-submit{
                        text-align: center;
                    }
                        .update-info-sec .button-submit>input{
                            width: 200px;
                            margin: 10px 0;
                            height: 30px;
                            border: 1px dashed #ff0080;    /*---테두리 정의---*/
                            background-Color:#ffe6f2;   /*--백그라운드 정의---*/
                            font:12px 굴림;      /*--폰트 정의---*/
                            font-weight:bold;   /*--폰트 굵기---*/
                            color:#ff0080;    /*--폰트 색깔---*/
                        }
            
                    .member-type{
                        display: flex;
                    }
                        .member-type>div{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    .checkbox-container {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        --border: 1px solid rgb(0, 132, 255);
                    }
                    
                    .checkbox-container > input[type="radio"] {
                        display: none;
                    }

                    .checkbox-container > input[type="radio"] + label span {
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        --margin: -2px 10px 0 0;
                        vertical-align: middle;
                        background: url(/images/checkbox-bold.svg) left top no-repeat;
                        cursor: pointer;
                        background-size: cover;
                    }

                    .checkbox-container > input[type="radio"]:checked + label span {
                        background: url(/images/checkbox-bold.svg) -30px top no-repeat;
                        background-size: cover;
                    }

/********************************************/
