        .main h1 {
            font-size: 20px;
            margin: 30px 0 0 30px;
        }
        .title{
            display: flex;
            padding-left: 30px;
            align-content: flex-start;
        }
            .title .main-image{
                width: 500px;
                height: 360px;
                overflow: hidden;
            }
            .title .pic .cliper-btn{
                width: 20px;
                height: 20px;
                font-size: 40px;
                position: absolute;
                z-index: 1;
                cursor: pointer;
                color: rgba(255, 255, 255, 0.5);
            }
            .pic .prev-btn{
                top: 235px;
                left: 390px;
            }
            .pic .next-btn {
                top: 235px;
                left: 840px;
            }
            .title .cliper{
                border: 1px solid black;
                width: 500px;
                height: 100px;
                overflow: hidden;
                position: relative;
            }
            .title .cliper ul{
                display: flex;
                height: 100px;
                padding: 0px;
                --position: absolute;
                transform: translateX(0px);
                transition: transform 500ms ease-in-out;
            }
                .title .cliper ul li{
                    list-style-type: none;
                    overflow: hidden;
                    flex-basis: 100px;
                    flex-shrink: 0;
                    
                    
                }
                ul li img{
                    object-fit: fill;
                    width :100px;
                    height: 100px;
                }
            .title .main-info{
                margin-left: 20px;
            }
            .title .main-info h1{
                font-size: 35px;
                font-weight: bold;
                margin: auto 0px;
                padding-bottom: 10px;
            } 
            .title .main-info h2{
                
                font-size: 20px;
                color: gray;
                margin: auto 0px;
                padding-bottom: 30px;
            } 
            .title .main-info p{
                font-weight: bold;
                color: #fc0453;
                margin: auto 0px;
            }
            .title .main-info .rule{
                font-size: 15px;
                padding-bottom: 10px;
                margin: auto 0px;
            }
            .title .main-info .check{
                font-size: 15px;
                padding-bottom: 10px;
                margin: auto 0px;
            }




        .room-sec {
        
            margin: 70px auto 0 auto;
        }

            .room-sec > h1 {
                --border: 1px solid green;
                width: 500px;
                font-weight: bold;
                font-size: 24px;
                margin-left: 30px;
            }

            .room-form {
                --border: 1px solid blue;
                margin: 20px 0px 0 30px;
            }

                .room-form > section {
                    display: flex;
                    border: 1px solid rgb(209, 196, 196);
                    border-radius: 5px;
                    margin-top: 20px;
                }

                    .radio-container {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        --border: 1px solid rgb(0, 132, 255);
                    }
                    
                    .room-form > section > .radio-container > input[type="radio"] {
                        display: none;
                    }

                    .room-form > section > .radio-container > input[type="radio"] + label span {
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        --margin: -2px 10px 0 0;
                        vertical-align: middle;
                        background: url(/images/checkbox-bold.svg) 0 top no-repeat;
                        cursor: pointer;
                        background-size: cover;
                    }

                    .room-form > section > .radio-container > input[type="radio"]:checked + label span {
                        background: url(/images/checkbox-bold.svg) -30px top no-repeat;
                        background-size: cover;
                    }

                    .room-form > div {
                        width: 100px; /* submit 버튼 너비 수정해야함 */
                        margin: 0 auto;
                    }

                    .room-form > section > .radio-container {
                        flex-grow: 1;
                    }

                    .room-form > section > .room-container {
                        flex-grow: 10;
                        display: flex;
                        --border: 1px solid red;
                        width: 950px;
                        height: 225px;
                    }

                        .room-img-container {
                            margin: 10px 0 5px 0;
                            transform: scale(1);
                            transition: transform 0.2s;
                            width: 370px;
                            height: 220px;
                        }

                            .room-img-container img {
                                width: 370px;
                                height: 220px;
                                border: 1px solid rgb(199, 199, 199);
                            }

                        .room-detail-container {
                            margin-left: 10px;
                            position: relative;
                            width: 500px;
                            height: 220px;
                            margin-right: 0px;
                        }

                        .room-detail-container .room-room {
                            font-size: 20px;
                            font-weight: bold;
                            position: absolute;
                            top: 10px;
                        }

                        .room-detail-container .room-bed-count {
                            margin-top: 30px;
                        }

                            .room-detail-container .room-bed-count > div:nth-child(1) {
                                position: absolute;
                                top: 55px;
                            }

                            .room-detail-container .room-bed-count > div:nth-child(2) {
                                flex-grow: 0;
                                margin-right: 10px;
                                position: absolute;
                                top: 55px;
                                right: 10px;
                            }

                        .room-detail-container .room-max-headcount {
                            margin-top: 30px;
                        }

                            .room-detail-container .room-max-headcount > div:nth-child(1) {
                                position: absolute;
                                top: 95px;
                            }

                            .room-detail-container .room-max-headcount > div:nth-child(2) {
                                flex-grow: 0;
                                margin-right: 10px;
                                position: absolute;
                                top: 95px;
                                right: 10px;
                            }

                        .room-detail-container .room-price {
                            margin-top: 30px;
                        }

                            .room-detail-container .room-price > div:nth-child(1) {
                                --flex-basis: 200px;
                                --flex-grow: 1;
                                position: absolute;
                                top: 135px;
                            }

                            .room-detail-container .room-price > div:nth-child(2) {
                                flex-grow: 0;
                                margin-right: 10px;
                                position: absolute;
                                top: 135px;
                                right: 10px;
                            }

                        .room-detail-container .highlight-btn {
                            position: absolute;
                            width: 100%;
                            height: 40px;
                            top: 189px;
                            border: none;
                            border-radius: 5px;
                            background: #fc0453;
                            color: white;
                            --font-weight: bold;
                            opacity: 0.8;
                        }

                        .room-form > .submit-btn-container  {
                            margin: 50px auto 100px auto;
                            width: 100%;
                            text-align: center;
                        }

                        .room-form > .submit-btn-container > .submit-btn {
                            background: #fc0453;
                            border: 1px solid #fc0453;
                            border-radius: 28px;
                            cursor: pointer;
                            color: #ffffff;
                            padding: 16px 60px;
                        }

                        .room-form > .submit-btn-container > .submit-btn:hover {
                            opacity: 0.7;
                        }

                    .btn-box{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        padding-top: 10px;
                        padding-bottom: 20px;
                    }
                        .btn-cancel {
                            width: 80px;
                            height: 25px;
                            margin: 0 5px 0 5px;
                            border:1px solid #000000;
                            border-radius: 4px;
                            display:inline-block;
                            text-decoration:none;
                            background: #EFEFEF;
                            font-size :15.5px;
                            padding-left: 25px;
                        }
