/********************************************/
header h1{
    margin: 0;
    height: 100%;
}

header li{
    color: white;
    list-style: none;
}

.sec-header-page{
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;
}
.header-sec{
    display: flex;
    background: white;
    height: 72px;
    width: 1200px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
    .header-sec a {
        --height: 50%;
        display: block;
        text-align: center;
        padding: .5rem 1rem;
        text-decoration: none;
        color: #5f0081;
        font-weight: bold;
    }

    .header-sec>.header-logo{
        flex-basis: 50px;
        height:70%;
        background: url(/images/logo.png) 0 0 no-repeat;
        text-indent: -9999px;
        background-size: 50px auto;
    }
        .header-sec>.header-logo .teum-logo{
            box-sizing: border-box;
            height: 100%;
        } 

.main-menu{
    display: flex;
    margin: 0;
    position: relative;
}

.sec-header-page .mega-menu{
    position: absolute;
    border: 1px solid rgb(223, 223, 223);
    border-top: none;
    background-color: white;
    --margin-top: 15px;
    --right: -12px;
    opacity: 0;
    transition: opacity .25s ease .1s;
    width: 90px;
}
    .sec-header-page .mega-menu ul li{
    height: 0;
    overflow: hidden;
    padding: 0;
    transition: height .25s ease .1s;
    }

        .sec-header-page .mega-menu ul li a{
            text-align: left;
            font-size: 14px;
            font-weight: none;
        }

    .sec-header-page .sub-page .character {
        background: url(/images/smile.png) 0 8px no-repeat;
        background-size: 25px;
        margin-left: 20px;
        padding-left: 30px;
    }

    .sec-header-page .sub-page:hover .mega-menu{
        opacity: 1;
    }

        .sec-header-page .sub-page:hover .mega-menu ul li {
            height: 36px;
            overflow: visible;
            padding: 0;
        }

            .sec-header-page .sub-page:hover .mega-menu ul a:hover {
                background: #5f0081;
                color: white;
            }

/*----------  header search -----------*/
.header-search{
    display: flex;
}
    .header-search>input{
        --padding: 8px 16px 8px 16px;
        width: 200px;
        padding-left: 20px;
        font-size: 15px;
    }

/*-------------footer------------*/
.sec_footer{
    background-color: white;  
}
footer{
    height: 300px;
    width: 1200px;
    background-color: white;  
    color :rgba(0,0,0,0.38);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 14px;
}

footer ul{
    padding: 0;
    list-style: none;
    display: flex;
    --flex-wrap: wrap;
}

footer ul li{
    display: flex;
    flex-shrink: 0;
}

/* footer ul li a{
    padding: 0;
    margin: 0;
    display: inline-block;
} */

footer a{
    color: lightslategray;
}

footer div p{
    padding-top: 20px;
    padding-bottom: 10px;
}
/* -------------------------------------- */

.main .sub-container h1 {
font-size: 20px;
margin: 30px 0 0 30px;
}
.main .sub-container .main-search{
    width: 900px; 
    display:flex;
    justify-content: space-between;
    padding-top: 30px;
}
.main .sub-container .main-search .acc-catagory{
    margin-top: 35px;
}


.main .list-board > table {
    border-top: 2px solid #5F0080;
    --border-collapse: collapse;
    --border-spacing: 5px 10px;
    width: 800px;
    table-layout: fixed;
    font-size: 14px;
    margin: 10px 0 0 30px;
}

    .main .list-board > table > thead {
        background: #f5f5f5;
    }

        .main .list-board > table tr {
            height: 40px;
            line-height: 40px;
        }

            .main .list-board > table td {
                border-bottom: 1px solid #e9e9e9;
                text-align: center;
            }

            .main .list-board > table td.col-s { 
                width: 50px;
            }

            .main .list-board > table td.col-sm { 
                width: 80px;
            }

            .main .list-board > table td.col-m { 
                width: 200px;
            }
            .main .list-board > table tbody tr:last-child >td{
                border-bottom: 1px solid #ffffff;
            }

            .main .pager-container {
                display: flex;
                justify-content: center;
                margin-top: 20px;
            }
            
                .main .pager-container .pager-list {
                    display: flex;
                }
            
                    .main .pager-container .pager-list li {
                        margin-left: 15px;
                    }
            
                    .main .pager-container .pager-list li:last-child {
                        margin-right: 15px;
                    }
                    
                    .main .pager-container .pager-list .active-page {
                        color: #fc0453;
                        font-weight: bold;
                    }
            
                    .main .pager-container .pager-list li a {
                        text-decoration: none;
                    }
            
                    .main .pager-container .pager-list li a:hover {
                        color: #fc0453;
                    }
            
                .main .pager-container .btn a {
                    text-decoration: none;
                }
                .ellips{
                    text-overflow:ellipsis;
                    white-space:nowrap;
                    word-wrap:normal;
                    width:190px;
                    overflow:hidden;
                }