.main .sub-container h1 {
    font-size: 20px;
    margin: 30px 0 0 30px;
}
.main .sub-container .AccTypeCatagory{
    margin: 30px 0 0 30px;
}

.main .list-board > table {
    border-top: 2px solid #5F0080;
    --border-collapse: collapse;
    --border-spacing: 5px 10px;
    width: 700px;
    table-layout: fixed;
    font-size: 14px;
    margin: 10px 0 0 30px;
}

    .main .list-board > table > thead {
        background: #f5f5f5;
    }

        .main .list-board > table tr {
            height: 40px;
            line-height: 40px;
        }

            .main .list-board > table td {
                border-bottom: 1px solid #e9e9e9;
                text-align: center;
            }

            .main .list-board > table td.col-s { 
                width: 50px;
            }

            .main .list-board > table td.col-sm { 
                width: 100px;
            }

            .main .list-board > table td.col-m { 
                width: 150px;
            }
            .main .list-board > table tbody tr:last-child >td{
                border-bottom: 1px solid #ffffff;
            }

